<!DOCTYPE html>
<html>
<head>
    <% include elements/style.ejs%>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <% include elements/mainHeader.ejs%>
    <!-- Left side column. contains the logo and sidebar -->
    <% include elements/mainMenu.ejs%>

    <!-- Content Wrapper. Contains page content -->
    <% include elements/content.ejs%>
    <!-- /.content-wrapper -->

    <% include elements/mainFooter.ejs%>
    <!-- Control Sidebar -->
    <% include elements/control.ejs%>
    <!-- /.control-sidebar -->

    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<% include elements/scripts.ejs%>
</body>
</html>
