<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/a/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>hohodfsfd to <%= title %></p>
</body>
</html>
